@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spicy+Rice&display=swap');

:root {
    --primary-color: #4E0D5E;
    --primary-color-lighter: #8B3E9E;
    --primary-color-darker: #380046;
    --secondary-color: #C1F573;
}

* {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

